<div class="container">
	<%= render 'searchs/form'%>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'users/profile', user: @user %>

			<%= render 'books/newform', book: @newbook %>
		</div>






		<div class="col-xs-9">
			<h2>Book detail</h2>

			<table class="table">
				<tr>
					<td>
						<%= link_to (@book.user) do %>
						<%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @book.user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, @book %></td>
					<td><%= @book.body %></td>


					<!-- いいね・Ajax化 -->
					<td>
						<div id="favorites_buttons_<%= @book.id %>">
							<%= render "books/favorite", book: @book %>
						</div>
					</td>


					<!-- コメント件数表示 -->
					<td>
						<i class="glyphicon glyphicon-comment"></i>
						<a href="#comments"><%= @book.book_comments.count %></a>
					</td>


					<!-- 削除ボタン -->
	              <% if @book.user == current_user %>
					<td><%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
					<td><%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
	              <% end %>
				</tr>


				<!-- コメント件数表示 -->
				<tr>
					<td><h2 class=""><%= @book.book_comments.count %>件コメント</h2></td>
				</tr>

			</table>



			<table>
				<!-- コメント表示・Ajax化 -->
				<tbody id="comments_area">
					<%= render "book_comments/book_comments", book: @book %>
				</tbody>
			</table>


				<!-- コメント入力フォーム -->
			    <div class="comment-form">
			      <%= form_with(model: [@book, @book_comment], remote: true) do |f| %>
			        <%= f.text_area :comment, size: "90x5" %><br>
			        <%= f.submit '送信' %>
			      <% end %>
			    </div>

		</div>
	</div>
</div>
